spring:
  application:
    name: apollo-configservice
  profiles:
    active: ${apollo_profile}
  cloud:
    inetutils:
      ignoredInterfaces:
        - docker0
        - veth.*

ctrip:
  appid: 100003171

server:
  port: 8080

logging:
  file:
    name: /opt/logs/100003171/apollo-configservice.log

eureka:
  instance:
    #hostname: ${hostname:localhost}
    hostname: ${eureka.instance.ip-address}
    preferIpAddress: true
    ip-address: ${eureka.instance.ip-address}
    instance-id: ${eureka.instance.ip-address}:${server.port}
    status-page-url-path: /info
    health-check-url-path: /health
  server:
    peerEurekaNodesUpdateIntervalMs: 60000
    enableSelfPreservation: false
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      # This setting will be overridden by eureka.service.url setting from ApolloConfigDB.ServerConfig or System Property
      # see com.ctrip.framework.apollo.biz.eureka.ApolloEurekaClientConfig
      defaultZone: http://${eureka.instance.hostname}:8080/eureka/
    healthcheck:
      enabled: true
    eurekaServiceUrlPollIntervalSeconds: 60

management:
  health:
    status:
      order: DOWN, OUT_OF_SERVICE, UNKNOWN, UP
