version: "3.4"
services:
  configservice1:
    image: xlvchao/apollo-configservice:1.8.1
    container_name: configservice1
    restart: always
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://10.0.0.3:3306/ApolloConfigDB?characterEncoding=utf8&useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Pwd@123
      - hostname=configservice1
      - eureka.instance.ip-address=10.0.0.11
    volumes:
      - /data/apollo/configservice/1/logs:/opt/logs
    ports:
      - 8080:8080
  configservice2:
    image: xlvchao/apollo-configservice:1.8.1
    container_name: configservice2
    restart: always
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://10.0.0.3:3306/ApolloConfigDB?characterEncoding=utf8&useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Pwd@123
      - hostname=configservice2
      - eureka.instance.ip-address=10.0.0.9
    volumes:
      - /data/apollo/configservice/2/logs:/opt/logs
    ports:
      - 8081:8080
  configservice3:
    image: xlvchao/apollo-configservice:1.8.1
    container_name: configservice3
    restart: always
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://10.0.0.3:3306/ApolloConfigDB?characterEncoding=utf8&useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Pwd@123
      - hostname=configservice3
      - eureka.instance.ip-address=10.0.0.16
    volumes:
      - /data/apollo/configservice/3/logs:/opt/logs
    ports:
      - 8082:8080