<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xlc.spartacus.article.mapper.CategoryMapper">

    <select id="findAll" resultType="com.xlc.spartacus.article.pojo.Category">
        SELECT
            t.id "id",
            t.cname "cname"
        FROM
            tb_category t
    </select>


</mapper>
